.product{
    position: relative;
}
.product .link:hover{
    color: red;
}
.product_backhome{
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid #00B997;
    padding: 5px 13px;
    border-radius: 5px;
    background-color: #00B997;
    color: #ffff;
}
.iamge_prod{
    width: 150px !important;
    height: 100px;
    object-fit: contain;
    margin-top: 15px;
}
.box_product{
    background-color: #f8f8f8 !important;
    box-shadow: 0 11px 22px rgba(0, 0, 0, 0.2);
    position: relative;
}
.button_add_cart{
    display: none;
    background-color: #899ea2;
    width: 100%;
    border: none;
    outline: none;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
   
}
.box_product:hover {
    .button_add_cart{
        display: block;
    }
}

.add_product {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;

}

.card_name{
    font-weight: bold !important;
    font-size: 25px !important;
}
.product_title{
    font-size: 55px;
    font-weight: bold;
}


/*responsive*/



/* موبایل‌های کوچک */
@media  (max-width: 480px) {
   .product_backhome{
    top: -10px !important;
    right: 10px !important;
    padding: 2px 8px !important;
   }
}

/* تبلت‌ها */
@media (min-width: 481px) and (max-width: 768px) {
    .product_backhome {
        top: 7px !important;
    }
}

/* دسکتاپ‌های کوچک */
@media (min-width: 769px) and (max-width: 1024px) {
    .product_backhome {
        top: 7px !important;
    }
}

/* دسکتاپ‌های بزرگ */
@media (min-width: 1025px) {
    .product_backhome {
        top: 7px !important;
    }
}

@media screen and (min-width:1200px) {
    .product_backhome {
        top: 7px !important;
    }
}
.green{
    color: #009177;
  }




